:root {
    --bg-color: #0d1117;
    --text-color: #f0f6fc;
    --muted-text-color: #9198a1;
}

html,
body {
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background: var(--bg-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
    text-align: center;
    height: 100vh;
}

footer {
    margin-top: auto;
}

.page-container {
    display: grid;
    gap: 1rem;
}

.conversion-row {
    display: grid;
    grid-template-columns: 1fr 0.5fr 0.25fr 1fr 0.5fr;
    align-items: center;
}

input[type="number"] {
    border-radius: 4px;
    border: none;
    outline: none;
    font-size: 1.2rem;
    padding: 0.5rem;
    width: 6rem;
    transition: 0.2s;
}

input[type="number"]:focus {
    scale: 1.05;
}

input[type="number"]:focus::placeholder {
    color: transparent;
}

input[type="time"] {
    border-radius: 4px;
    border: none;
    outline: none;
    font-size: 1.2rem;
    padding: 0.5rem;
    width: 6rem;
    transition: 0.2s;
}

input[type="time"]:focus {
    scale: 1.05;
}

input[type="time"]:focus::placeholder {
    color: transparent;
}

input[type="time"]::-webkit-calendar-picker-indicator {
    display: none;
}

a {
    color: var(--muted-text-color);
}

span {
    margin: 0 0.5rem;
    text-align: left;
}